.contact {
  padding-top: 40px;

  &__title {
    margin-bottom: 72px;
  }

  &__item {
    position: relative;
    padding-left: 60px;

    &::before {
      position: absolute;
      content: "";
      left: 10px;
      top: 0;
      height: 28px;
      width: 28px;
      background-size: cover;
      background-position: center;
    }

    &--phone {
      &::before {
        background-image: url('../img/sprite.svg#phone');
      }
    }

    &--mail {
      &::before {
        background-image: url('../img/sprite.svg#mail');
      }
    }

    &--wapp {
      &::before {
        background-image: url('../img/sprite.svg#wapp');
      }
    }

    &--skype {
      &::before {
        background-image: url('../img/sprite.svg#skype');
      }
    }


    &:not(:last-child) {
      margin-bottom: 44px;
    }
  }

  &__item-body {
    display: flex;
    flex-direction: column;
  }

  &__hint {
    font-size: 14px;
    color: $grey-main;
  }

  &__link {
    font-family: "Exo2", sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: $black-main;
  }
}
