.detail-info {
  padding: 40px 72px 56px 48px;
  background-color: $grey-secondary-bg;
  border-radius: 5px;
  color: #6B6B6C;

  @include media-w($sm) {
    padding: 40px 40px 56px 24px;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    padding-bottom: 16px;
    border-bottom: 1px solid #E9EAF2;

    @include media-w($sm) {
      flex-direction: column;
    }

    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }

  &__left {
    min-width: 175px;
    margin-right: 50px;

    @include media-w($sm) {
      margin-right: 0;
      margin-bottom: 16px;
    }
  }

  &__right {
    width: 100%;
    font-family: 'Exo2', sans-serif;
    font-weight: 600;
    color: $black-main;
  }
}