.staff-card {
  background: #FFFFFF;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  color: $black-main;
  padding: 30px 30px 40px 80px;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;

  @include media-w($md) {
    flex-direction: column;
    padding: 24px 10px 32px 60px;
  }

  @include media-w($sm) {
    flex-direction: row;
    padding-left: 36px;
  }

  &::before {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    width: 50px;
    background-color: $green-main;

    @include media-w($md) {
      width: 30px;
    }

    @include media-w($xs) {
      width: 20px;
    }
  }


  &__img-wrapper {
    margin-right: 40px;
    height: 138px;
    max-width: 138px;
    width: 100%;

    @include media-w($md) {
      height: 100px;
      max-width: 100px;
    }

    @include media-w($xs) {
      margin-right: 18px;
    }
  }

  &__img {
    height: 100%;
    width: 100%;
  }

  &__title {
    font-family: 'Exo2', sans-serif;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 12px;

    @include media-w($sm) {
      font-size: 18px;
      margin-bottom: 10px;
    }
  }

  &__position {
    position: relative;
    color: $grey-main;
    font-size: 14px;
    margin-bottom: 50px;

    &::after {
      position: absolute;
      content: "";
      left: 0;
      bottom: -20px;
      width: 86px;
      height: 2px;
      background-color: $yellow-main;
    }
  }

  &__socials {
    display: flex;
    align-items: center;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  &__link {


    &:hover {
      svg {
        fill: $green-main;
      }
    }

  }

  &__svg {
    height: 30px;
    width: 30px;
    vertical-align: middle;
    fill: $grey-line;
    transition: fill 0.3s;

    @include media-w($md) {
      height: 20px;
      width: 20px;
    }

  }
}