.main-screen {
  position: relative;
  padding-top: 50px;
  margin-bottom: 95px;

  @include media-w($md) {
    padding-top: 0;
    margin-bottom: 85px;
  }

  @include media-w($sm) {
    margin-bottom: 60px;
  }

  &::after {
    position: absolute;
    content: "";
    width: 40%;
    right: 0;
    top: 0;
    bottom: 150px;
    background-color: $green-main;
    z-index: -1;

    @include media-w($md) {
      width: 25%;
      bottom: 41.5%;
    }

    @include media-w($sm) {
      width: 100%;
      bottom: 45.5%;
    }
  }

  &__row {
    &:not(:last-child) {
      @include media-w($md) {
        margin-bottom: 60px;
      }

      @include media-w($xs) {
        margin-bottom: 40px;
      }
    }
  }

  &__title {
    margin-top: 80px;
    margin-bottom: 40px;
    font-size: 52px;

    @include media-w($md) {
      margin-top: 30px;
    }

    @include media-w($sm) {
      color: #fff;
    }

    @include media-w($xs) {
      font-size: 28px;
      margin-bottom: 30px;
    }
  }

  &__link {
    display: inline-block;
    font-weight: 700;
    color: $black-main;
    position: relative;
    transform: scale(1);
    transition: transform 0.3s;

    @include media-w($sm) {
      color: #fff;
    }

    &::after {
      position: absolute;
      content: "";
      left: 0;
      right: 0;
      bottom: -10px;
      width: 100%;
      height: 3px;
      background-color: $yellow-main;
    }

    &:hover {
      transform: scale(1.1);
    }
  }

  &__img {
    @include media-w($md) {
      width: 100%;
      height: 350px;
      object-fit: cover;
      object-position: bottom;
    }

    @include media-w($xs) {
      height: 250px;
    }
  }

  &__center {
    margin-bottom: 70px;

    @include media-w($md) {
      margin-bottom: 40px;
    }
  }

  &__desc {
    @include media-w($sm) {
      color: #fff;
    }

    @include media-w($xs) {
      font-size: 15px;
      margin-bottom: 30px;
    }
  }

  &__services {
    background-color: #fff;
    border-radius: 20px;
    box-shadow: $box-shadow;
    padding: 35px 40px 52px;

    @include media-w($md) {
      background-color: transparent;
      border-radius: 0;
      box-shadow: none;
      padding: 0;
    }

    @include media-w($xs) {
      background-color: #fff;
      border-radius: 20px;
      box-shadow: $box-shadow;
      padding: 25px 30px;
      margin: 0 auto;
    }

    .col-lg-4 {
      position: relative;

      &:not(:last-child) {
        @include media-w($md) {
          margin-bottom: 15px;
        }

        @include media-w($xs) {
          margin-bottom: 24px;
        }

        &::after {
          position: absolute;
          content: "";
          top: 0;
          bottom: 0;
          right: 0;
          width: 0.5px;
          background-color: $grey-line;

          @include media-w($md) {
            content: none;
          }
        }
      }
    }
  }
}