$black-main: #363738;
$black-secondary: #111;
$grey-main: #6b6b6c;
$yellow-main: #ffce50;
$green-main: #0b7572;

$grey-main-bg: #e9e9ec;
$grey-secondary-bg: #f9f9fb;
$grey-line: #d7d7dd;

$box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);


$md: 992px;
$sm: 767px;
$xs: 480px;